version: "3.8"

services:
  web:
    image: intheloop-web:latest
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "5173:5173"
    environment:
      ALLOW_LOCAL_AUTH: "true"
    networks:
      - intheloop-network

  iframe-outputs:
    image: intheloop-iframe-outputs:latest
    build:
      context: .
      dockerfile: Dockerfile.iframe-outputs
    ports:
      - "8000:8000"
    networks:
      - intheloop-network

  sync:
    image: intheloop-sync:latest
    build:
      context: .
      dockerfile: Dockerfile.sync
    ports:
      - "8787:8787"
    networks:
      - intheloop-network

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: intheloop-dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    tmpfs:
      - /var/lib/postgresql/data
      - /tmp
    command:
      - -c
      - listen_addresses=*
      - -c
      - wal_level=logical
    networks:
      - intheloop-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgbouncer:
    image: cleanstart/pgbouncer:latest
    volumes:
      - ./pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
      - ./userlist.txt:/etc/pgbouncer/userlist.txt:ro
    command: ["/etc/pgbouncer/pgbouncer.ini"]
    ports:
      - ${PGBOUNCER_PORT:-6432}:6432
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - intheloop-network

networks:
  intheloop-network:
